article{
  text-align: center;
  color:lightcoral;
}
.header{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  color:chocolate;
  background-color:burlywood ;
  
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color:burlywood ;

}

#colorSelector1{
    width: 50%; 
    display: table-cell; 
    background: rgb(0, 23, 128);
    color: lightsalmon;
}


#colorSelector2{
  display: table-cell; 
  background:rgb(174, 174, 180);
  font-size: medium;
  font-style: italic;
  color: brown;
}

